.container {
    position: relative;
}

.input-container {
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    max-width: 324px;
}

.input {
    border: none;
    border-radius: 0;
    border-radius: 4px 0 0 4px;
}

.button {
    border: none;
    background-color: transparent;
    padding: 8px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.icon {
    height: 24px;
    display: block;
}

.calendar-wrapper {
    width: fit-content;
    position: absolute;
    background-color: var(--sec-bg-color);
    left: 0;
    top: 41px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    padding: 8px;
}

.calendar {
    --rdp-accent-color: var(--accent-color);
}